body {
    background-color: powderblue;
    color: black;
    font-size: 21px;

    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;


}


h1 {
    font-size: 70px;
    color: #3747b3;
    font-family: Lucida Bright, Georgia, serif;

    margin-bottom: 0px;
  
}

h2 {
    margin-top: 0px;
}

p   {

    margin-top: 0px;
    margin-bottom: 20px;

    line-height: 1.2;

    font-size: 30px;

    clear: both;
   
}

.container {
    background: white;
    width: 70%;
    max-width: 300px;
    margin: 0 auto;

}